@charset "utf-8";
@media screen and (max-width:799px) {
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    width: 100%; 
    margin: 0 auto;
    background-color: #ececec;
}
#wrapper {
    padding: 10px;
    background-color: #ececec;
}
#joke {
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 5px #ccc;
    -moz-box-shadow: 1px 1px 5px #ccc;
    box-shadow: 1px 1px 5px #ccc;
}
#joke-header {
    height: 60px;
}
.joke-avatar {
    display: block;
    float: left;
    margin: 10px 0 0 10px;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.joke-author {
    float: left;
    margin: 18px 0 0 10px;
}
.joke-author span {
    display: block;
}
.joke-author span:nth-child(1) {
    font-family: "verdana","ms song","Arial","Helvetica", "sans-serif";
    font-size: 12pt;
    color: #727778;
}
.joke-author span:nth-child(2) {
    margin-top: 5px;
    font-size: 10pt;
    color: #a2a2a2;
}
#joke-content {
    padding: 10px;
}
#joke-content span {
    display: block;
    line-height: 160%;
    font-family: "verdana","ms song","Arial","Helvetica", "sans-serif";
    font-size: 14pt;
    letter-spacing: 1px;
    color: #4a5152;
}
#joke-content img {
    display: block;
    width: 100%;
}
#joke-up-btn {
    position: relative;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    margin-top: 5px;
}
#joke-up-btn img {
    display: block;
    height: 100%;
}
#joke-up-btn span {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: -30px;
    text-align: center;
    font-size: 12pt;
}
.joke-up-btn-span {
    color: #a2a2a2;
}
.joke-up-btn-span-press {
    color: white;
}
.joke-action-btn {
    position: relative;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    background-color: #f4f4f4;
}
.joke-action-btn div {
    top : 0px;
    height: 100%;
}
.joke-action-btn img {
    display: block;
    height: 100%;
}
.joke-action-btn span {
    position: absolute;
    display: block;
    top : 6px;
    font-size: 12pt;
    color: #a2a2a2;
}
#joke-favorite-btn {
    position: relative;
    width: 100px;
    margin: 0 auto;
}
#joke-favorite-btn img {
    margin: 0 auto;
}
#joke-favorite-btn span {
    left: 65%;
}
#joke-comment-btn {
    position: absolute;
    width: 100px;
    left: 8%;
}
#joke-comment-btn span {
    left: 30%;
}
#joke-share-btn {
    position: absolute;
    right: 8%;
}
#joke-share-btn span {
    left: 105%;
}
#comment {
    margin-top: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 5px #ccc;
    -moz-box-shadow: 1px 1px 5px #ccc;
    box-shadow: 1px 1px 5px #ccc;
}
.comment-title {
    display: block;
    background-color: #f4f4f4;
    padding: 4px;
    line-height: 180%;
    font-family: "verdana","ms song","Arial","Helvetica", "sans-serif";
    font-size: 12pt;
    color: #555555;
}
.comment-body {
    border-bottom: #f1f1f1 1px solid;
}
.comment-header {
    height: 40px;
    padding: 5px 0 0 5px;
}
.comment-avatar {
    display: block;
    float: left;
    height: 100%;
    margin-left: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.comment-author {
    float: left;
    margin: 8px 0 0 8px;
}
.comment-author span {
    display: block;
    line-height: 140%;
    color: #a2a2a2;
}
.comment-author span:nth-child(1) {
    font-family: "verdana","ms song","Arial","Helvetica", "sans-serif";
    font-size: 10pt;
}
.comment-author span:nth-child(2) {
    font-size: 8pt;
}
.comment-up-img {
    display: block;
    float: right;
    margin: 5px 3px 0 0;
    height: 32px;
}
.comment-up-count {
    display: block;
    float: right;
    line-height: 300%;
    font-size: 12pt;
    color: #a2a2a2;
}
.comment-content {
    display: block;
    clear: both;
    min-height: 20px;
    padding: 15px 0 15px 60px;
    line-height: 150%;
    letter-spacing: 1px;
    font-family: "verdana","ms song","Arial","Helvetica", "sans-serif";
    font-size: 12pt;
    color: #4a5152;

}
#comment-loading {
    display: none;
    width: 50px;
    margin: 0 auto;
}

}
