<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>笑话详情 - 讲个笑话吧</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/joke_detail_large.css?ver={$static_ver}">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/joke_detail_small.css?ver={$static_ver}">
    </head>
    <body>
        <div id="wrapper" data-op-user-tid="{$user_tid}" data-op-user-id="{$user_data.id}" data-op-user-name="{$user_data.nickname}" data-op-user-avatar="{$user_data.avatar}">
            <div id="joke" data-id="{$joke.id}" data-type="{$joke.type}" data-user-id="{$joke_user.id}">
                <div id="joke-header">
                    <img class="joke-avatar avatar" src="<empty name='joke_user.avatar'>__PUBLIC__/img/avatar_default_large.png<else />{$joke_user.avatar}</empty>"/>
                    <div class="joke-author">
                        <span>{$joke_user.nickname}</span>
                        <span>{$joke.create_time|strtotime|date="m-d H:i",###}</span>
                    </div>
                </div>
                <div id="joke-content">
                    <span>{$joke.content|nl2br}</span>
                    <if condition="$joke.type eq 2">
                    <img src="{$joke.img_url}"/>
                    </if>
                </div>
                <div id="joke-up-btn" data-isact="{$joke.is_up}">
                    <if condition="$joke.is_up eq 1">
                    <img src="__PUBLIC__/img/joke_up_press.png"/>
                    <span class="joke-up-btn-span-press">{$joke.up_count}</span>
                    <else />
                    <img src="__PUBLIC__/img/joke_up.png"/>
                    <span class="joke-up-btn-span">{$joke.up_count}</span>
                    </if>
                </div>
                <div class="joke-action-btn">
                    <div id="joke-favorite-btn" data-isact="{$joke.is_favorate}">
                        <if condition="$joke.is_favorate eq 1">
                        <img src="__PUBLIC__/img/joke_favorite_press.png"/>
                        <else />
                        <img src="__PUBLIC__/img/joke_favorite.png"/>
                        </if>
                        <span>{$joke.favorate_count}</span>
                    </div>
                    <div id="joke-comment-btn">
                        <img src="__PUBLIC__/img/joke_comment.png"/>
                        <span>{$joke.comment_count}</span>
                    </div>
                    <div id="joke-share-btn" data-isact="{$joke.is_share}">
                        <if condition="$joke.is_share eq 1">
                        <img src="__PUBLIC__/img/joke_share_press.png"/>
                        <else />
                        <img src="__PUBLIC__/img/joke_share.png"/>
                        </if>
                        <span>{$joke.share_count}</span>
                    </div>
                </div>
            </div>
            <div id="comment">
                <notempty name="comment_replied_mine">
                <div id="comment-replied-mine">
                    <span class="comment-title">回复我的评论</span>
                    <foreach name="comment_replied_mine" item="v">
                    <include file="Joke/detail_comment_cell" />
                    </foreach>
                </div>
                </notempty>
                <notempty name="comment_mine">
                <div id="comment-mine">
                    <span class="comment-title">我的评论</span>
                    <foreach name="comment_mine" item="v">
                    <include file="Joke/detail_comment_cell" />
                    </foreach>
                </div>
                </notempty>
                <notempty name="comment_super">
                <div id="comment-super">
                    <span class="comment-title">神评</span>
                    <foreach name="comment_super" item="v">
                    <include file="Joke/detail_comment_cell" />
                    </foreach>
                </div>
                </notempty>
                <notempty name="comment_lastest">
                <div id="comment-lastest" data-start={$comment_lastest|count}>
                    <span class="comment-title">最新</span>
                    <foreach name="comment_lastest" item="v">
                    <include file="Joke/detail_comment_cell" />
                    </foreach>
                </div>
                </notempty>
                <img id="comment-loading" src="__PUBLIC__/img/loading_progress.png"/>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/common/zepto.min.js"></script>
    <script src="__PUBLIC__/js/joke_detail.js?ver={$static_ver}"></script>
</body>
</html>
