<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>笑话详情 - 讲个笑话吧</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/joke_detail.css">
    </head>
    <body>
        <div id="joke">
            <div id="joke-author">
                <img src="http://tp4.sinaimg.cn/1694801047/180/39999291455/1"/>
                <span>树袋大熊</span>
            </div>
            <div id="joke-content">
                下班回去的路上，一美女骑自行车把我撞了，她不好意思的看着我，说：对不起。<br>
                我深情的走过去，问：有男朋友吗？<br>
                美女害羞的摇摇头。<br>
                我上去就是一脚，没男朋友还敢撞我，看老子不削死你个憋犊子。。。
            </div>
            <div id="joke-liked">
                <div></div>
            </div>
            <div id="joke-liked-users"></div>
        </div>
        <div id="comment"></div>
        <script src="__PUBLIC__/js/common/zepto.min.js"></script>
    </body>
</html>
