<div class="comment-body">
    <div class="comment-header" data-id="{$v.id}" data-user-id="{$v.user_id}">
        <img class="comment-avatar avatar" src="<empty name='v.user_avatar'>__PUBLIC__/img/avatar_default_small.png<else />{$v.user_avatar}</empty>"/>
        <div class="comment-author">
            <span>{$v.user_nickname}</span>
            <span>{$v.create_time}</span>
        </div>
        <div class="comment-up-btn" data-isact="{$v.is_up}">
            <if condition="$v.is_up eq 1">
            <img class="comment-up-btn" src="__PUBLIC__/img/comment_up_press.png"/>
            <else />
            <img class="comment-up-btn" src="__PUBLIC__/img/comment_up.png"/>
            </if>
            <span class="comment-up-count">{$v.up_count}</span>
        </div>
    </div>
    <span class="comment-content">{$v.content}</span>
</div>
