<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>笑话详情 - 讲个笑话吧</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/joke_detail.css">
    </head>
    <body>
        <div class="body">
            <div class="joke">
                <div class="joke-header">
                    <img class="joke-avatar" src="<empty name='joke_user.avatar'>__PUBLIC__/img/avatar_default_large.png<else />{$joke_user.avatar}</empty>"/>
                    <div class="joke-author">
                        <span>{$joke_user.nickname}</span>
                        <span>{$joke_user.create_time|date="m-d H:i",###}</span>
                    </div>
                </div>
                <div class="joke-content">
                    {$joke.content|nl2br}
                </div>
                <div id="joke-up-btn">
                    <img src="__PUBLIC__/img/joke_up.png"/>
                    <span>{$joke.up_count}</span>
                </div>
                <div class="joke-action-btn">
                    <div class="joke-favorite-btn">
                        <img src="__PUBLIC__/img/joke_favorite.png"/>
                        <span>{$joke.favorate_count}</span>
                    </div>
                    <div class="joke-comment-btn">
                        <img src="__PUBLIC__/img/joke_comment.png"/>
                        <span>{$joke.comment_count}</span>
                    </div>
                    <div class="joke-share-btn">
                        <img src="__PUBLIC__/img/joke_share.png"/>
                        <span>{$joke.share_count}</span>
                    </div>
                </div>
            </div>
            <div class="comment">
                <notempty name="comment_replied_mine">
                <div id="comment-replied-mine">
                    <span class="comment-title">回复我的评论</span>
                    <foreach name="comment_replied_mine" item="v">
                    <div class="comment-body">
                        <div class="comment-header">
                            <img class="comment-avatar" src="<empty name='v.user_avatar'>__PUBLIC__/img/avatar_default_small.png<else />{$v.user_avatar}</empty>"/>
                            <div class="comment-author">
                                <span>{$v.user_nickname}</span>
                                <span>{$v.create_time|date="m-d H:i",###}</span>
                            </div>
                            <img class="comment-up-btn" src="__PUBLIC__/img/comment_up.png"/>
                            <span class="comment-up-count">{$v.up_count}</span>
                        </div>
                        <span class="comment-content">{$v.content}</span>
                    </div>
                    </foreach>
                </div>
                </notempty>
                <notempty name="comment_mine">
                <div id="comment-mine">
                    <span class="comment-title">我的评论</span>
                    <foreach name="comment_mine" item="v">
                    <div class="comment-body">
                        <div class="comment-header">
                            <img class="comment-avatar" src="<empty name='v.user_avatar'>__PUBLIC__/img/avatar_default_small.png<else />{$v.user_avatar}</empty>"/>
                            <div class="comment-author">
                                <span>{$v.user_nickname}</span>
                                <span>{$v.create_time|date="m-d H:i",###}</span>
                            </div>
                            <img class="comment-up-btn" src="__PUBLIC__/img/comment_up.png"/>
                            <span class="comment-up-count">{$v.up_count}</span>
                        </div>
                        <span class="comment-content">{$v.content}</span>
                    </div>
                    </foreach>
                </div>
                </notempty>
                <notempty name="comment_super">
                <div id="comment-super">
                    <span class="comment-title">神评</span>
                    <foreach name="comment_super" item="v">
                    <div class="comment-body">
                        <div class="comment-header">
                            <img class="comment-avatar" src="<empty name='v.user_avatar'>__PUBLIC__/img/avatar_default_small.png<else />{$v.user_avatar}</empty>"/>
                            <div class="comment-name">
                                <span>{$v.user_nickname}</span>
                                <span>{$v.create_time|date="m-d H:i",###}</span>
                            </div>
                            <img class="comment-up-btn" src="__PUBLIC__/img/comment_up.png"/>
                            <span class="comment-up-count">{$v.up_count}</span>
                        </div>
                        <span class="comment-content">{$v.content}</span>
                    </div>
                    </foreach>
                </div>
                </notempty>
                <notempty name="comment_lastest">
                <div id="comment-lastest">
                    <span class="comment-title">最新</span>
                    <foreach name="comment_lastest" item="v">
                    <div class="comment-body">
                        <div class="comment-header">
                            <img class="comment-avatar" src="<empty name='v.user_avatar'>__PUBLIC__/img/avatar_default_small.png<else />{$v.user_avatar}</empty>"/>
                            <div class="comment-name">
                                <span>{$v.user_nickname}</span>
                                <span>{$v.create_time|date="m-d H:i",###}</span>
                            </div>
                            <img class="comment-up-btn" src="__PUBLIC__/img/comment_up.png"/>
                            <span class="comment-up-count">{$v.up_count}</span>
                        </div>
                        <span class="comment-content">{$v.content}</span>
                    </div>
                    </foreach>
                </div>
                </notempty>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/common/zepto.min.js"></script>
</body>
</html>
