<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>讲个笑话吧</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/joke_detail_large.css?ver={$static_ver}">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/joke_detail_small.css?ver={$static_ver}">
    </head>
    <body>
        <div id="download-tips">
            <img src="__PUBLIC__/img/download_tips.png" />
        </div>
        <include file="Joke/detail_body" />
        <div id="download-banner">
            <img class="download-avatar" src="__PUBLIC__/img/download_avatar.png" />
            <div class="download-slogon">
                <span>讲个笑话吧</span>
                <span>还等什么？赶快假如组织！</span>
            </div>
            <img id="download-btn" src="__PUBLIC__/img/download_btn.png" />
        </div>
        <script src="__PUBLIC__/js/common/zepto.min.js"></script>
        <script src="__PUBLIC__/js/joke_detail.js?ver={$static_ver}"></script>
        <script src="__PUBLIC__/js/joke_share.js?ver={$static_ver}"></script>
    </body>
</html>
